DOCKERHUB_USERNAME=identifiant-dockerhub
API_VERSION=1.0.0
API_PORT=8080

DB_NAME=campustasks_db
DB_USERNAME=campustasks_user
DB_PASSWORD=remplacer-par-un-mot-de-passe-solide

JWT_SECRET=remplacer-par-une-chaine-aleatoire-d-au-moins-32-caracteres

CORS_ORIGINES=http://localhost:8080

API_DOMAIN=api.exemple.com
